<!DOCTYPE html>
<html lang="ko">
<head>
  <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
  <script src="../js/jquery-3.6.1.min.js"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>회원가입</title>
  <style>
    .titleCenter {
      text-align: center;
    }

    #joinBtn {
      margin: 20px;
      float: right;
    }

    #profile_preview {
      width: 105px;
      height: 140px;
    }
  </style>
</head>
<body>
<div class="d-flex justify-content-center mt-5">
  <div class="col-4 card ">
    <div class="card-body">
      <form method="post" id="newMember" action="/join" enctype="multipart/form-data">
        <h1 class="titleCenter">회원가입</h1>
        <div>
          <img id="profile_preview" src="">
        </div>
        <div class="form-group">
          <label for="profile">프로필사진</label>
          <input type="file" name="uploadFile" accept=".png,.jpg,.jepg" id="profile" class="form-control"
               onchange="readURL(this)"> <!--미리보기 기능-->
        </div>

        <div class="form-group">
          <label for="userId">* 아이디</label>
          <input type="text" class="form-control" name="userId" id="userId" placeholder="사용자 아이디 10자리 이내"
                 maxlength="10" required="required">
          <button type="button" id="checkId" class="btn btn-outline-info btn-sm">중복확인</button>
          <input type="hidden" value="" id="idValue">
          <span id="idSpan"></span>
        </div>
        <div class="form-group">
          <label for="userPw">* 비밀번호</label>
          <input type="password" class="form-control" name="userPw" id="userPw" placeholder="사용자 비밀번호 20자리 이내"
                 minlength="8" maxlength="20" required="required">
          <span id="pwSpan"></span>
        </div>
        <div class="form-group">
          <label for="userPwCk">* 비밀번호 재확인</label>
          <input type="password" class="form-control" id="userPwCk" placeholder="사용자 비밀번호 재확인"
                 minlength="8" maxlength="20" required="required">
          <span id="pwCkSpan"> </span>
        </div>

        <div class="form-group">
          <label for="userName">* 이름</label>
          <input type="text" class="form-control" name="userName" id="userName" placeholder="사용자 이름"
                 maxlength="20" required="required">
        </div>
        
        
        <div class="form-group">
          <label for="userPhone">* 휴대전화</label>
          <input type="text" class="form-control" name="userPhone" id="userPhone"
                 placeholder="사용자 휴대전화(ex)010-0000-0000)" required="required" maxlength="13">
          <div class="invalid-feedback">휴대전화는 숫자만 입력해주세요</div>
          <span id="phoneSpan"></span>
          <button id="sendMessage" class="btn btn-outline-info btn-sm" disabled="disabled">인증번호 전송</button>
        </div>
        <div class="form-group">
          <label for="ranNumCk">* 인증확인</label>
          <input type="text" class="form-control" name="ranNumCk" id="ranNumCk" placeholder="인증번호를 입력해주세요"
                 required="required">
          <button class="btn btn-outline-info btn-sm" id="checkSmS">확인</button>
          <!--                    disabled="disabled"-->
          <input type="hidden" value="false" id="checkSmSValue">
        </div>
        
        
        <div class="form-group">
          <label for="userEmail">* 이메일</label>
          <input type="text" class="form-control" name="userEmail" id="userEmail" placeholder="사용자 이메일"
                 required="required">
          <input type="hidden" value="" id="emailValue">
          <span id="emailSpan"> </span>
        </div>
        <div class="form-group">
          <label for="userBirth">생년월일</label>
          <input type="date" class="form-control" name="userBirth" id="userBirth" placeholder="사용자 생년월일">
        </div>
        <div id="joinBtn">
          <button type="button" class="btn btn-outline-primary" id="newUserSub">회원가입</button>
          <button type="button" class="btn btn-outline-primary" onclick="location.href='/loginForm'">돌아가기
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

</body>
<!--등록한 프로필사진 해당영역에 미리 보여주기-->
<script>
  function readURL(input) {
    if (input.files && input.files[0]) {
      let reader = new FileReader();//파일을 읽기 위한 FileReader객체 생성 비동기적으로 파일을 읽어들일때 사용된다.
      reader.onload = function (e) {//파일 읽어들이기를 성공했을때 호출되는 이벤트 핸들러 onload읽기 동작이 성공적으로 완료됐을때 동작
        document.getElementById("profile_preview").src = e.target.result;//img태그의 src속성에 읽어들인 file내용을 지정 result:파일의 내용을 반환
      };
      reader.readAsDataURL(input.files[0]);//file내용을 읽고 dataUrl형식의 문자열로 저장. 바이너리 파일을 Base64 Encode 문자열로 반환 그 이후 이미지로 볼수있다.
    } else {
      document.getElementById("profile_preview").src = "";//파일이 없을땐 src 비우기

    }
  };

  //건희님 sms_api 휴대폰번호 입력후 인증번호 받기
  //휴대폰 인증번호 전송 클릭
  $("#sendMessage").click(function () {
      let userPhone = $("#userPhone").val();

      $.ajax({//문자 보내는 ajax(문자보내주는 ajax)
          //url     : "http://192.168.3.116:8880/sendMessage",
          url : "https://sms-auth.adnstyle.com/sendMessage",
          data    : {"trPhone": userPhone},
          type    : "post",
          success : function (data) {
              if (data.result == "success") {
                  alert("인증번호가 전송되었습니다.")
                  $("#phoneSpan").css('color', 'black');
                  $("#phoneSpan").html('제한시간내에 인증번호를 입력해주세요');
                  $("#checkSmS").attr("disabled", false);
                  $("#sendMessage").html("인증번호 재전송");
              }
          }, error: function () {
              alert("인증번호 전송 실패 error발생");
          }
      })
  });

  //건희님 sms_api
  $("#checkSmS").click(function () {//건희님 sms_api 인증번호 일치여부 확인
      let ranNumCk = $("#ranNumCk").val();
      let userPhone = $("#userPhone").val();
  $.ajax({
      type: "POST",
      url : "https://sms-auth.adnstyle.com/smsCheck/select",
      data   : {'phone': userPhone, 'checkNumber': ranNumCk},
      success: function (data) {
          if (data.result == 'success') {
              alert('인증되었습니다.');
              $("#sendMessage").prop("disabled", true);
              $("#checkSmSValue").val("true");
              $("#checkSmS").attr("disabled", true);
            $("#userPhone").prop("readonly",true)
          } else {
              alert('불일치');
          }
       }
      })
      });


  // //내 sms_api 휴대폰 인증번호 전송 클릭
  // $("#sendMessage").click(function () {
  //   let userPhone = $("#userPhone").val();
  //
  //   $.ajax({//문자 보내는 ajax(문자보내주는 ajax)
  //     url     : "http://localhost:9080/sendMessage",
  //     data    : {"userPhone": userPhone},
  //     type    : "post",
  //     success : function (data) {
  //       if (data === "success") {
  //         alert("인증번호가 전송되었습니다.")
  //         $("#phoneSpan").css('color', 'black');
  //         $("#phoneSpan").html('제한시간내에 인증번호를 입력해주세요');
  //         $("#checkSmS").attr("disabled", false);
  //       }
  //     }, error: function () {
  //       alert("인증번호 전송 실패 error발생");
  //     }
  //   })
  // });
  //
  // // 인증확인 버튼을 클릭했을때
  // // 폰번호와 입력한 번호를 가지고 최근 전송된 인증번호와 비교(jy sms_api)
  // $("#checkSmS").click(function () {
  //   let ranNumCk = $("#ranNumCk").val();
  //   let userPhone = $("#userPhone").val();
  //   $.ajax({
  //     url     : "http://localhost:9080/selectRanNum",//내가한것
  //     data    : {
  //       "ranNumCk" : ranNumCk,
  //       "userPhone": userPhone
  //     },
  //     type    : "post",
  //     success : function (data) {
  //       if (data === "success") {
  //         alert("인증확인되었습니다.")
  //         $("#checkSmSValue").val("true");
  //         $("#checkSmS").attr("disabled", true);
  //       } else if (data === "fail") {
  //         alert("인증번호를 다시 확인해주세요");
  //       }
  //     }, error: function () {
  //       alert("인증번호 확인 에러 발생");
  //     }
  //
  //   });
  //
  // });


  // 휴대전화번호 검사
  $("#userPhone").keyup(function () {//휴대전화 입력시
    let userPhone = $("#userPhone").val();
    checkPhone(userPhone);
  });

  // 휴대전화번호를 제대로 입력했다면 문자 전송버튼 클릭가능
  function checkPhone(userPhone) {
    let regPhone = /^\d{3}-\d{4}-\d{4}$/;

    if (regPhone.test(userPhone) == false) {//정규식여부와 일치하지 않는다면
      $("#phoneSpan").html("휴대전화 양식을 다시 확인해주세요 ex)010-0000-0000");
      $("#phoneSpan").css('color', 'red');
      $("#newUserSub").attr("disabled", true)
      $("#sendMessage").attr("disabled", true)
      return;
    } else if (13 != userPhone.length) {
      alert("휴대전화 양식을 다시 확인해주세요")
      $("#phoneSpan").html("휴대전화 양식을 다시 확인해주세요 ex)010-0000-0000")
      $("#phoneSpan").css('color', 'red');
      $("#newUserSub").attr("disabled", true)
      $("#sendMessage").attr("disabled", true)
      return;
    } else if (userPhone.length === 0 && userPhone === '' && userPhone === null) {
      alert("휴대폰 번호 양식에 맞춰 입력해주세요3")
      $("#phoneSpan").html("휴대폰 번호를 입력해주세요 ex)010-0000-0000")
      $("#phoneSpan").css('color', 'red');
      $("#newUserSub").attr("disabled", true)
      $("#sendMessage").attr("disabled", true)
    } else {
      $("#phoneSpan").html("")
      $("#newUserSub").attr("disabled", false)
      $("#sendMessage").attr("disabled", false)
    }
  };

  // 아이디 중복체크 ajax
  $("#checkId").click(function () {//아이디중복확인
    let userId = $("#userId").val();
    checkId(userId);
  });

  function checkId(userId) {
    if (5 > userId.length) {
      alert("아이디는 5글자 이상으로 작성해주세요")
      $("#idSpan").html("아이디는 5글자 이상으로 작성해주세요.")
      return;
    } else {//아이디 5글자 넘을때 중복확인
      $.ajax({
        url    : "/checkId",
        data   : {"userId": userId},
        type   : "post",
        success: function (no) {
          if (no > 0) {
            alert("중복된 아이디입니다.")
            $("#newUserSub").attr("disabled", true)
            $("#idSpan").html("중복된 아이디입니다.")
            $("#idSpan").css('color', 'red');
            $("#idValue").val("false");
            return;

          } else {
            $("#idSpan").html("사용가능한 아이디입니다.")
            $("#idSpan").css('color', 'black');
            $("#newUserSub").attr("disabled", false)
            $("#idValue").val("true");
          }

        }, error() {
          alert("아이디 중복체크 통신 에러")
        }
      });
    }
    ;
  };


  //비밀번호 정규식 확인 함수

  $("#userPw").keyup(function () {
    let userPw = $("#userPw").val();
    checkPw(userPw);
  });

  function checkPw(userPw) {

    //비밀번호 정규식 최소8글자, 하나이상의 문자, 하나이상의 숫자, 하나의 특수문자
    let regPw = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/;

    if (!userPw.match(regPw)) {//정규식여부와 일치하지 않는다면
      $("#pwSpan").html("비밀번호 조건을 다시 확인해주세요 (8글자이상 +문자하나이상, 숫자하나이상, 특수문자 하나이상)");
      $("#pwSpan").css('color', 'red');
      $("#newUserSub").attr("disabled", true)
      return;

    } else if (userPw.match(regPw)) {
      $("#pwSpan").html("사용가능한 비밀번호");
      $("#pwSpan").css('color', 'black')
      $("#newUserSub").attr("disabled", false)

    }
  }

  $("#userPwCk").keyup(function () {
    let userPwCk = $("#userPwCk").val();
    let userPw = $("#userPw").val();
    matchPw(userPw, userPwCk)
  });

  function matchPw(userPw, userPwCk) {

    if (userPw != userPwCk) {//비밀번호 재확인시 다르다면
      $("#pwCkSpan").html("비밀번호 불일치")
      $("#pwCkSpan").css('color', 'red');
      $("#newUserSub").attr("disabled", true)
      return;
    } else {
      $("#pwCkSpan").html("비밀번호 일치")
      $("#pwCkSpan").css('color', 'black');
      $("#newUserSub").attr("disabled", false)

    }
  };


  $("#userEmail").keyup(function () {//이메일 중복확인
    let userEmail = $("#userEmail").val();
    //이메일 정규식 조건에 맞는지 확인
    checkEmail(userEmail);
  });

  function checkEmail(userEmail) {
    let regEmail = /^([0-9a-zA-Z_\.-]+)@([0-9a-zA-Z_-]+)(\.[0-9a-zA-Z_-]+){1,2}$/;
    if (!userEmail.match(regEmail)) {
      $("#emailSpan").html("이메일 형식을 확인해주세요");
      $("#emailSpan").css('color', 'red');
      $("#newUserSub").attr("disabled", true);
      return;
    }
    $.ajax({
      url    : "/checkEmail",
      type   : "post",
      data   : {"userEmail": userEmail},
      success: function (no) {
        if (no != 0) {
          $("#emailSpan").html("이미 사용중인 이메일 입니다.");
          $("#emailSpan").css('color', 'red');
          $("#newUserSub").attr("disabled", true);
          $("#emailValue").val("false");
          return;
        } else {
          $("#emailSpan").html("사용 가능한 이메일 입니다.");
          $("#emailSpan").css('color', 'black');
          $("#newUserSub").attr("disabled", false);
          $("#emailValue").val("ture");
        }
      }
    })
  };

  $("#newUserSub").click(function () {//회원가입버튼 클릭시 모든 조건 확인후 전송

    let userId = $("#userId").val();
    let userPw = $("#userPw").val();
    let userPwCk = $("#userPwCk").val();
    let userEmail = $("#userEmail").val();
    let userPhone = $("#userPhone").val();

    check(userId, userPw, userPwCk, userEmail, userPhone)

    //값 다 적혀있는지 확인
    function check(userId, userPw, userPwCk, userEmail) {
      if (userId == "" || userId == null) {
        alert("아이디를 입력해주세요");
        $("#userId").focus();
        $("#newUserSub").attr("disabled", true);
        return;
      }
      if ($("#idValue").val() == 'false') {
        alert("중복된 아이디 입니다.");
        $("#userId").focus();
        $("#newUserSub").attr("disabled", true);
        return;
      }
      ;

      if (userPw == "" || userPw == null) {
        alert("비밀번호를 입력해주세요");
        $("#userPw").focus();
        $("#newUserSub").attr("disabled", true);
        return;
      }
      if (userPwCk == null || userPwCk == '' || userPw != userPwCk) {
        alert("비밀번호를 재확인해주세요");
        $("#userPwCk").focus();
        $("#newUserSub").attr("disabled", true);
        return;
      }

      if (userPhone === null || userPhone === '') {
        alert("휴대폰 번호를 입력해주세요.");
        $("#userPhone").focus();
        $("#newUserSub").attr("disabled", true);
        return;
      }
      ;
      if ($("#checkSmSValue").val() == 'false' || $("#checkSmSValue").val() == null || $("#checkSmSValue").val() == '') {
        alert("인증번호를 확인해주세요.");
        $("#userPhoneCk").focus();
        $("#newUserSub").attr("disabled", true);
        return;
      }

      if (userEmail === null || userEmail === '') {
        alert("이메일을 입력해주세요");
        $("#newUserSub").attr("disabled", true);
        $("#userEmail").focus();
        return;
      }
      if ($("#emailValue").val() == 'false') {
        alert("중복된 이메일 입니다.")
        $("#newUserSub").attr("disabled", true);
        return;
      }
      ;


//함수 다시 돌면서 정규식, 중복 등의 조건에 맞는지 확인하고 틀리면 전송버튼 잠기게함
      checkId(userId);
      checkPw(userPw);
      matchPw(userPw, userPwCk);
      checkPhone(userPhone);
      checkEmail(userEmail);

      let newUserSub = $("#newUserSub");
      if (!newUserSub.disabled) {//전송버튼이 잠기지 않았다면
        alert("회원가입 되었습니다");
        $("#newMember").submit();
      } else {
        alert("회원가입정보를 다시 확인 해주세요");
        return;
      }
    }
  });
</script>
</html>