<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
<head>
  <meta charset="utf-8">
  <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Jy_Board</title>
  <style>
    #mainView {
      margin: auto;
      width: 2500px;
    }
    
    #main {
      text-align: center;
      display: flex;
    }
    
    img {
      width: 400px;
      height: 500px;
    }
  </style>
</head>
<th:block layout:fragment="content">
  
  <body>
  <div id="main">
    <div id="mainView">
      
                  <div class="col-3 card" style="display: inline-block">
                      <div class="card-body">
                          <img src="/img/sponge1.jpg" alt="쇼핑몰로 이동">
                      </div>
                      <div class="card-footer">
                          <a href="#">미정()</a>
                      </div>
                  </div>
      
                  <div class="col-3 card" style="display: inline-block">
                      <div class="card-body">
                          <img src="/img/star1.png" alt="게시판으로 이동">
                      </div>
                      <div class="card-footer">
                          <a href="#">미정()</a>
                      </div>
                  </div>
      
                  <div class="col-3 card" style="display: inline-block">
                      <div class="card-body">
                          <img src="/img/ton1.jpg" alt="관리자 게시판">
                      </div>
                      <div class="card-footer">
                          <a href="/admin/adminPage">관리자 게시판</a>
                      </div>
                  </div>
    
    </div>
  </div>
  </div>
  </body>
</th:block>
</html>