<!doctype html>
<html lang="ko" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
<head>
  <meta charset="utf-8">
  <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>QnA 게시판 리스트</title>
  <style>
    #write_btn {
      float: right;
    }

    th {
      text-align: center;
    }

    tbody {
      border: #cff4fc 1px;
    }
    table{
      margin-top: 100px;
    }

  </style>
</head>

<th:block layout:fragment="content">
  <body>
  <div class="container">
    <div id="main">
      <div class="table-responsive">
        <table class="table table-hover" style="table-layout: fixed">
          <thead class="table-info"/>
          <tr>
            <th style="width: 10%">번호</th>
            <th:block th:if="${session.jyUserSession.role} =='ROLE_ADMIN'">
              <th style="width: 50%">제목</th>
              <th style="width: 10%">작성자</th>
            </th:block>
            <th:block th:unless="${session.jyUserSession.role} =='ROLE_ADMIN'">
              <th style="width: 50%">제목</th>
              <th style="width: 20%">작성자</th>
            </th:block>
            <th style="width: 20%">작성일</th>
            <th:block th:if="${session.jyUserSession.role} =='ROLE_ADMIN'">
              <th style="width: 10%">삭제 여부</th>
            </th:block>
          </tr>
          </theadtable-info>
          <tbody>
          <tr th:each="board : ${myBoardList}">
            <th:block th:if="${session.jyUserSession.role} =='ROLE_USER' and ${board.delYn}=='Y'">
              <td colspan="5"><h6 class="text-center">삭제된 게시물입니다</h6></td>
            </th:block>
            <th:block th:unless="${session.jyUserSession.role} =='ROLE_USER' and ${board.delYn}=='Y'">
              <td th:text="${board.id}" class="text-center"></td>
              <th:block th:if="${board.id} == ${board.groupBno}">
                <td class="text-truncate"><a
                        th:href="@{/user/qnaContent(id=${board.id},page=${ph.page})}"
                        th:text="${board.title}"/></td>
              </th:block>
              <th:block th:unless="${board.id} == ${board.groupBno}">
                <td><a th:href="@{/user/answerContent(id=${board.id},page=${ph.page})}"
                       th:text="'&nbsp&nbsp&nbsp'+'[L답글]'+${board.title}"/>
                </td>
              </th:block>
              <td class="text-truncate text-center" th:text="${board.modifiedBy}"></td>
              <td th:text="${#temporals.format(board.modifiedDate,'yyyy-MM-dd HH:mm')}"
                  class="text-center"></td>
              <th:block th:if="${session.jyUserSession.role} =='ROLE_ADMIN'">
                <td th:text="${board.delYn}" class="text-center"></td>
              </th:block>
            </th:block>
          </tr>
          </tbody>


        </table>
      </div>
      <div id="btnBox">
        <button type="button" id="write_btn" class="btn btn-outline-primary"
                onclick="location.href='/user/questionsForm'">질문글 작성
        </button>
      </div>

    </div>

    <div>
      <nav aria-label="Page navigation example">
        <ul id="dyn_ul" class="pagination" style="justify-content: center">
          <!--prev -->
          <th:block th:if="${ph.showPrev}">
            <li class="page-item"><a class="page-link"
                                     th:href="@{/user/boardList(page=${ph.beginPage}-1,type=${type},search=${search},boardType=QnA_Board)}"><</a>
            </li>
          </th:block>

          <!--         페이징        -->
          <th:block th:with="ph = ${ph}">
            <th:block th:each="num : ${#numbers.sequence(ph.beginPage,ph.endPage)}">
              <li class="page-item" th:classappend="${ph.page==num}?'active':''">
                <a class="page-link"
                   th:href="@{/user/boardList(page=${num},type=${type},search=${search}, boardType=QnA_Board)}"
                   th:text="${num}"></a>
              </li>
            </th:block>
          </th:block>

          <!--next-->
          <th:block th:if="${ph.showNext}">
            <li class="page-item"><a class="page-link"
                                     th:href="@{/user/boardList(page=${ph.endPage}+1,type=${type},search=${search}, boardType=QnA_Board)}">></a>
            </li>
          </th:block>
        </ul>
      </nav>
    </div>
  </div>
  </div>

  <script th:inline="javascript">
    let myBoardList = [[${myBoardList}]]
    console.log(myBoardList)
  </script>
  </body>
</th:block>
</html>