<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adnstyle.myboard.model.repository.JyAdminRepository">

    <!--    관리자페이지 전체 고객 정보조회-->
    <select id ="selectUserList" parameterType="member" resultType="member">
        SELECT username,
               name,
               user_email,
               user_phone,
               user_birth,
               reg_date
        FROM   member;
    </select>

</mapper>