<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.jwtproject.model.repository.MemberRepository">
<!--    <select id="selectMember" resultType="member">-->
<!--        select *-->
<!--        from member-->
<!--        where username = #{username}-->
<!--    </select>-->

    <select id="selectMember" parameterType="string" resultType="member">
        SELECT seq,
               username,
               password,
               name,
               user_phone,
               user_email,
               DATE_FORMAT(user_birth, '%Y-%m-%d') AS user_birth,
               del_yn,
               roles,
               reg_date,
               end_date,
               provider,
               provider_id
        FROM   member
        WHERE  username = #{username}
          AND  del_yn = 'N'
    </select>

    <select id="selectUserDB" parameterType="string" resultType="string">
        SELECT
               name
        FROM   member
        WHERE  username = #{username}
          AND  del_yn = 'N'
    </select>

</mapper>